body {
  width: 880px;
  margin: 0 auto;
  padding-bottom: 200px;
  /* text-align: center; */
} 
.header {
  text-align: center;
  height: 130px;
}

.header h1 {
  padding-top: 50px;
}

.container {
  width: 100%;
}
select {
  width: 100px;
}
.select-box {
  display:flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  width: 650px;
  margin: 0 auto;
  border-radius: 25px;
  background: rgb(175, 205, 218);
}

.select {
  width: 120px;
  height: 120px;
  margin: 10px;
  border: 1px solid black;
}

.create-button {
  margin: 20px;
  width: 120px;
  height: 100px;
  font-size: 25pt;
}

.closet {
  overflow: scroll;
  display:flex;
  height: 240px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 30px;
}

.closet .cloth {
  text-align: center;
  width: 150px;
  margin: 20px;
  /* margin-left: 20px !important; */
}

.closet .cloth img {
  width: 150px;
  /* height: 150px; */
}

.closet .cloth h3 {
  margin: 0;
}
.closet .cloth p {
  margin: 0;
}